.navbar-top-collapse > .nav > li > a {
  background: none;
  border: 0;
  clear: both;
  color: #838e95;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 0.25rem 1.5rem;
  text-align: inherit;
  white-space: nowrap;
  width: 100%;
}
nav {
  margin-bottom: 20px;
}
ul > li > a {
  color: white;
}
ul > li > a:hover {
  color: white;
}
.navbar-top-collapse > .nav > li > a:hover {
  color: white;
  background-image: linear-gradient(to bottom right, #33ccff, yellow);
}
.homeLink {
  margin-bottom: 20px;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  border: white !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}
.navbar-custom {
  margin-top: 50px;
  background-image: linear-gradient(to bottom right, #33ccff, yellow);
  font-style: italic;
}
